html
  body
    #home-dashbord.dashbord-page.dashbord-stage
      .dashbord-window
        .body.no-padding
          .box.cloum4
            .item.hover-ative
              h5
                span.fa.fa-desktop
                | 虚拟机
              progressbar.progress-striped(max="max" value="dynamic")
                span.progress-text
                  | {{dynamic}} / {{max}}
            
          .box.cloum4
            .item.hover-ative
              h5
                span.fa.fa-hdd-o
                | 存储卷
              progressbar.progress-striped(max="max" value="dynamic")
                span.progress-text
                  | {{dynamic}} / {{max}}
            
          .box.cloum4
            .item.hover-ative
              h5
                span.fa.fa-code-fork
                | 网络
              progressbar.progress-striped(max="max" value="dynamic")
                span.progress-text
                  | {{dynamic}} / {{max}}
            
          .box.cloum4.last
            .item.hover-ative
              h5
                span.fa.fa-camera
                | 镜像
              progressbar.progress-striped(max="max" value="dynamic")
                span.progress-text
                  | {{dynamic}} / {{max}}

          .box.cloum4.last
            .item.hover-ative
              h5
                span.fa.fa-camera
                | 路由器
              progressbar.progress-striped(max="max" value="dynamic")
                span.progress-text
                  | {{dynamic}} / {{max}}

          .box.cloum4.last
            .item.hover-ative
              h5
                span.fa.fa-camera
                | 公网IP
              progressbar.progress-striped(max="max" value="dynamic")
                span.progress-text
                  | {{dynamic}} / {{max}}
          .clearfix

      .panel-group(ng-repeat="pool in pools")
        .panel.panel-default
          .panel-heading.simple
            h4.panel-title(ng-click="pool.open = !pool.open")
              a 资源池-{{ pool.name }}
          .panel-collapse.collapse.in
            .chart-containers
              .chart-container
                .chart-title
                  | 存储卷
                .chart
                  knob(
                      knob-data="pool.quota.used_share_storage" 
                      knob-max="pool.quota.share_storage" 
                      knob-options="knobOptions")
              .chart-container
                .chart-title
                  | 虚拟机
                .chart
                  knob(
                    knob-data="pool.quota.used_instances" 
                    knob-max="600" 
                    knob-options="knobOptions")
            .chart-containers
              .chart-container
                .chart-title
                  | 虚拟CPU
                .chart
                  knob(
                    knob-data="pool.quota.used_vcups" 
                    knob-max="pool.quota.vcpus" 
                    knob-options="knobOptions")
              .chart-container
                .chart-title
                  | 虚拟内存
                .chart
                  knob(
                    knob-data="pool.quota.used_memory" 
                    knob-max="pool.quota.memory" 
                    knob-options="knobOptions")
      
