html
  body
    .dashbord-page
      h2 路由器
      button.btn.btn-primary(type='button')
        .glyphicon.glyphicon-refresh.rotate
      button.btn.btn-primary(type="button", ng-click="openCreateModal()")
        | 创建虚拟路由
      .btn-group
        button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
          | 更多操作
          span.caret
        ul.dropdown-menu(role='menu')
          li
            a(href='#') 删除
      input.search-text(placeholder="搜索", type="text", ng-model="searchText")
      table.table.table-striped
        thead
          tr
            th #
            th 编号
            th 名称
            th 描述
            th 上行贷款
            th 下行贷款
        tbody
          tr(ng-repeat='route in routePager.routes')
            td
              input(type='checkbox')
            td
              {{ $index+1 }}
            td
              {{ route.name }}
            td 
              {{ route.description }}
            td 
              {{ route.bandwidth_tx }}
            td
              {{ route.bandwidth_rx }}


       pagination.pagination-small(
        total-items='routePager.totalItems()', 
        page='routePager.currentPage', 
        max-size='routePager.maxSize', 
        boundary-links='true', 
        rotate='false', 
        num-pages='routePager.numPages', 
        previous-text='{{ pagerConfig.previousText }}',
        next-text = '{{ pagerConfig.nextText }}', 
        items-per-page='pagerConfig.numPerPage',
        first-text='{{ pagerConfig.firstText}}',
        last-text='{{ pagerConfig.lastText }}')